.container {
  text-align: center;
  border-top: ridge 5px;
  border-left: ridge 5px;
  border-right: ridge 5px;
  border-bottom: ridge 1px;
  background-color: darkcyan;
}

#head {
  color: darkslategray;
  text-shadow: 2px 2px black;
  text-transform: uppercase;
}

#miniCont {
  background-color: cyan;
  opacity: .8;
  border-top: ridge 4px;
  padding-bottom: 1px;
}

#mission {
  color: maroon;
  text-shadow: 2px 2px rgb(119, 133, 133);
}

#rocket {
  color: darkred;
  text-shadow: 2px 2px darkcyan;
}
