.box {
  border: solid 3px;
  padding: 5%;
  text-align: center;
  background-color: cyan;
  opacity: .8;
  border-radius: 15%;
}

#equipment {
  color: black;
  text-shadow: 1px 1px darkgoldenrod;
  text-decoration: underline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
