#page {
  font-family: helvetica, sans-serif;
  font-weight: 600;
}

.box {
  display: flex;
  padding: 10px;
  background-color: darkcyan;
  border: ridge 5px;
}

.miniBox {
  float: left;
  width: 33.33%;
  padding: 50px;
}
